<div class="top-bar pos-right">
  <!-- link_to not working with i18n -->
  <a href="/<%= clean_from_i18n(current_page.url) %>">en</a> &nbsp;
  <a href="/fr/<%= clean_from_i18n(current_page.url) %>">fr</a> &nbsp;
  <a href="/nl/<%= clean_from_i18n(current_page.url) %>">nl</a>
</div>