.image-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(image_path('background/3D_printing5.jpg'));
  background-size: cover;
  z-index: -100;
}

.bg-filter {
  width: 100%;
  height: 100%;
  // background: rgba(72, 161, 219, 0.7);
  // background: rgba(131, 195, 215, 0.9);
  background: rgba(90, 175, 202, 0.5);
  // background: rgba(110,185,208, 0.8);
  // background: rgba(64,142,187,0.5);
  // background: rgba(115, 194, 214, 0.8);
  // background: rgba(49,156,189,0.8);
}

.main-logo {
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .main-logo {
    width: 180px;
    height: 180px;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"],
.no-padding {
  padding-right: 0;
  padding-left: 0;
}
