---
title: Stages 2023 | Tic Tac Lab
---

<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Tic Tac Lab is a Belgium organization for kids and teenagers to discover, experiment, learn and play with technology (robots, coding, gaming, 3D printing, laser cutting...) Let's unlock their creativity!">
	<meta property="og:image" content="https://developer.mozilla.org/static/assets/img/opengraph-logo.png">
	<meta property="og:description" content="Tic Tac Lab is a Belgium organization for kids and teenagers to discover, experiment, learn and play with technology (robots, coding, gaming, 3D printing, laser cutting...) Let's unlock their creativity!">
	<meta property="og:title" content="Tic Tac Lab">
	<meta name="twitter:title" content="Tic Tac Lab">
	<title>Tic Tac Lab - stages 2023</title>
	<%# <link rel="stylesheet" href="style.css"> %>
  <%= stylesheet_link_tag "pages/stages" %>
</head>

<body>
	<section class="content">
		<div class="info"><a href="https://tictaclab.org/"><%= image_tag "logo/ttl-logo.svg", alt: "logo Tic Tac Lab" %></a></div>
		<h2 >Fall stages &middot; Stages d'automne 2023</h2>
		<a href="https://www.eventbrite.be/e/731995557417?aff=oddtdtcreator" target="_blank" >
			<figure>
				<div class="image"><%= image_tag "featured/stage_halloween.jpg", alt: "food lab stage"%></div>
				<p><strong>Stage d'Halloween - Halloween Stage</strong><br>
					Oct 23&ndash;27, 2023</p>
			</figure>
		</a>
		<div class="info">
			<p><a href="https://tictaclab.org" >tictaclab.org</a> &middot; <a href="https://instagram.com/tictaclabbxl" target="_blank" >instagram</a> &middot; <a href="https://fb.me/tictaclabbxl" target="_blank" >facebook</a></p>
		</div>
	</section>
</body>

</html>
